name: Release
on:
  push:
    branches:
      - main
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Cache
      uses: coursier/cache-action@v6

    - name: Setup Java
      uses: actions/setup-java@v2
      with:
          distribution: adopt
          java-version: 11

    - name: Setup Mill
      uses: jodersky/setup-mill@master
      with:
        mill-version: 0.10.7

    - name: Publish
      run: mill -i -j 0 --disable-ticker io.kipp.mill.ci.release.ReleaseModule/publishAll
      env:
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
